*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #101F33; /* Dark blue background color */
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
  }
  
  .container {

    padding: 2vh;
    text-align: center;
    background-color: #213E5E; /* Light dark blue background color */
    border-radius: 1vw;
    box-shadow: 0 0 2vw rgba(0, 0, 0, 0.1);
  }
  
  
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1vh;
  }
  
  label {
    color: #FFF;
    margin-bottom: 1vh;
  }
  
  input {
    padding: 3px;
    border-radius: 1vw;
    border: none;
    margin-bottom: 1vh;
  }
  
  button {
    background-color: #68C757; /* Light green button color */
    color: #0e0e0e;
    border-radius: 1vw;
    margin-top: 1vh;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #5BB44B; /* Darker green on hover */
  }
  
  a {
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
  }
  
  button:active {
    opacity: 0.7; /* Dimmed button color when clicked */
  }
  